<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>OnlineBanking</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
    <welcome-file>Registration.jsp</welcome-file>
    <welcome-file>error.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>RC</servlet-name>
    <servlet-class>com.online.bank.application.controller.RegistrationController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RC</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LC</servlet-name>
    <servlet-class>com.online.bank.application.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LC</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VP</servlet-name>
    <servlet-class>com.online.bank.application.controller.UserProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VP</servlet-name>
    <url-pattern>/viewprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EP</servlet-name>
    <servlet-class>com.online.bank.application.controller.EditProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EP</servlet-name>
    <url-pattern>/editprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CP</servlet-name>
    <servlet-class>com.online.bank.application.controller.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CP</servlet-name>
    <url-pattern>/changepwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VBC</servlet-name>
    <servlet-class>com.online.bank.application.controller.ViewBalanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VBC</servlet-name>
    <url-pattern>/view.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MTC</servlet-name>
    <servlet-class>com.online.bank.application.controller.MoneyTransferController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MTC</servlet-name>
    <url-pattern>/money.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Banking</servlet-name>
    <servlet-class>com.online.bank.application.controller.BankingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Banking</servlet-name>
    <url-pattern>/Banking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OTP</servlet-name>
    <servlet-class>com.online.bank.application.controller.OneTimePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTP</servlet-name>
    <url-pattern>/otp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VSC</servlet-name>
    <servlet-class>com.online.bank.application.controller.ViewStatementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VSC</servlet-name>
    <url-pattern>/viewst.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LOC</servlet-name>
    <servlet-class>com.online.bank.application.controller.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOC</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Regjsp</servlet-name>
    <jsp-file>/view/Registration.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regjsp</servlet-name>
    <url-pattern>/Registration.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Acjsp</servlet-name>
    <jsp-file>/view/account.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acjsp</servlet-name>
    <url-pattern>/account.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Wjsp</servlet-name>
    <jsp-file>/view/Welcome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wjsp</servlet-name>
    <url-pattern>/Welcome.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginjsp</servlet-name>
    <jsp-file>/view/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginjsp</servlet-name>
    <url-pattern>/login.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dnjsp</servlet-name>
    <jsp-file>/view/DisplayName.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dnjsp</servlet-name>
    <url-pattern>/DisplayName.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VBjsp</servlet-name>
    <jsp-file>/view/ViewBalance.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>VBjsp</servlet-name>
    <url-pattern>/ViewBalance.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tjsp</servlet-name>
    <jsp-file>/view/Transaction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tjsp</servlet-name>
    <url-pattern>/Transaction.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TidDjsp</servlet-name>
    <jsp-file>/view/Tiddisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TidDjsp</servlet-name>
    <url-pattern>/Tiddisplay.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>THjsp</servlet-name>
    <jsp-file>/view/Transhistory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>THjsp</servlet-name>
    <url-pattern>/Transhistory.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VSjsp</servlet-name>
    <jsp-file>/view/Viewstatement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>VSjsp</servlet-name>
    <url-pattern>/Viewstatement.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logoutjsp</servlet-name>
    <jsp-file>/view/LogOut.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutjsp</servlet-name>
    <url-pattern>/LogOut.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentGateway</servlet-name>
    <jsp-file>/view/PaymentGateway.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentGateway</servlet-name>
    <url-pattern>/PaymentGateway.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfile</servlet-name>
    <jsp-file>/view/UserProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deposit</servlet-name>
    <jsp-file>/view/Deposit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Withdraw</servlet-name>
    <jsp-file>/view/Withdraw.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfile</servlet-name>
    <jsp-file>/view/EditProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/ProfileEditer</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <jsp-file>/view/ChangePassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
</web-app>